{% extends "users/base.html" %}
{%load l10n%}
{% block title %}Qoute{% endblock %}
{% block body %}
{% load crispy_forms_tags %}
<h1 class='display-4' style='text-align:center'> Qoute</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
        {% for form in formset %}
        <div class="row form-group">
        {{ form|crispy}}
        </div>
        {% endfor %}

<button type="submit" class='btn btn-primary float-center'>add more</button>

<a class="btn btn-success float-right "href="{% url 'quotelist' %}">Done</a>
</form>

{% endblock %}