{% extends 'users/base.html' %}
{% load i18n %}
{% block body %}
    <table style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" class="table table-bordered table-striped {% if bidi == rtl %}rtl{% endif %}">
        <h1 class="text-success rtl ">
        </h1>
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans "client" %}</th>
                <th>{% trans "product" %}</th>
                <th>{% trans "options" %}</th>
            </tr>
        </thead>
        {% for quote in page_obj %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ quote.organization.name}}</td>
            <td>{% for item in quote.quoteitem_set.all %}{{item.product.name}}{% endfor %}</td>
            <td class="d-flex justify-content-around" >
                <a data-toggle="tooltip" data-placement="top" title="Send as Email" onclick="send_email({{quote.pk}})">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>        
                <a  href={% url 'qoute-detail' quote.pk %}  data-toggle="tooltip" data-placement="top" title="Download"> <i class="fa fa-download" aria-hidden="true"></i></a>
                <a  href="{% url 'qoute-detail' quote.pk %}?act=view" data-toggle="tooltip" data-placement="top" title="View"> <i class="fa fa-eye" aria-hidden="true"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <script>
    function send_email(quote){
            $.ajax({
                method:'get',
                url:"{% url 'email' %}",
                data:{
                    qid: quote
                },
                success:function(){ 
                    //show alert when email sent
                    alert("email sent")
                },
                error:function(){
                    alert("somthing wrong plz try again later")                    
                }

            })
        }
</script>
{% endblock body %}
