{% extends 'users/base.html' %}
{% block title %}{{object.name}}{% endblock title %}
{% block body %}
<div class="card" style="width:100% ;">
  <div class="card-body">
    <h1 class="card-title ">Organization : {{object.name}}</h1>
        <div class="row">
            <div class="col-6">      
                    <p class ="col h5 mx-5" style="margin-top:40px">Province: {{object.province}}</p>
                    <p class ="col h5 mx-5" style="margin-top:40px">Phone: {{object.phone}}</p>
            </div>
            <div class="col-6">
                <div class="row">
                    <p class ="col h5 mx-5" style="margin-top:40px">workers: {{object.workers}}</p>
                    <p class ="col h5 mx-5" style="margin-top:40px">Email: {{object.email}}</p>
                    <p class ="col h5 mx-5 text-muted" style="margin-top:40px">registred at : {{object.registered_on.date}}</p>
                </div>
            </div>            
        </div>
    <hr>
    <br>
    <h1 class="card-title ">Agent info</h1>
        <div class="row">
            <div class="col-sm-9 card-text">
                <div class="row">
                    <p class ="col h5 mx-5" style="margin-top:40px">Name : {{object.agent}}</p>
                    <p class ="col h5 mx-5" style="margin-top:40px">Phone : {{object.agent_phone}}</p>
                </div>
            </div>
        </div> 
    <br>
    <hr>
    <br>
    <h1 class="card-title ">Related product</h1>
        <div class="row mb-4 mt-4">
            {% for product in object.get_org_product.product_set.all %}
                <div class="col-3 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><strong>{{product.name}}</strong></h4>
                            <h5><strong>price : {{product.price}} $</strong><h6>
                            <a class='btn btn-success' href="">add to quote</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    <br>
    <hr>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
    <div class ="text-right">
        <p>regestered by : {{object.creator}}</p>
    </div>
 </div>

</div> 

{% endblock body %}
