{% extends 'users/base.html' %}
{% load i18n %}
{% block title %}{{object.name}}{% endblock title %}
{% block body %}
<div class="card" style="width:100% ;">
  <div class="card-body">
    <h1 class="card-title ">{% trans "Organization" %} : {{object.name}}</h1>
        <div class="row">
            <div class="col-6">      
                    <p class ="col h5 mx-5" style="margin-top:40px">{% trans "Province" %}: {{object.province}}</p>
                    <p class ="col h5 mx-5" style="margin-top:40px">{% trans "Phone" %}: {{object.phone}}</p>
            </div>
            <div class="col-6">
                <div class="row">
                    <p class ="col h5 mx-5" style="margin-top:40px">{% trans "workers" %}: {{object.workers}}</p>
                    <p class ="col h5 mx-5" style="margin-top:40px">{% trans "Email" %}: {{object.email}}</p>
                    <p class ="col h5 mx-5 text-muted" style="margin-top:40px">{% trans "registred at " %}: {{object.registered_on.date}}</p>
                </div>
            </div>            
        </div>
    <hr>
    <br>
    <h1 class="card-title ">{% trans "Agent info" %}</h1>
        <div class="row">
            <div class="col-sm-9 card-text">
                <div class="row">
                    <p class ="col h5 mx-5" style="margin-top:40px">{% trans "Name" %} : {{object.agent}}</p>
                    <p class ="col h5 mx-5" style="margin-top:40px">{% trans "Phone" %} : {{object.agent_phone}}</p>
                </div>
            </div>
        </div> 
    <br>
    <hr>
    <br>
    <h1 class="card-title ">{% trans "Related product" %}</h1>
        <div class="row mb-4 mt-4">
            {% for product in object.get_related_product %}
                <div class="col-3 mb-2">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><strong>{{product.name}}</strong></h4>
                            <h5><strong>{% trans "price" %} : {{product.price}} $</strong><h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    <hr>
    <div id="followup">
    </div>
    <hr>
    <a href="{% url 'create-quote' object.id %}" class="btn btn-success">{% trans "Create Quote" %} </a>
    <a href="#followup" class="btn btn-secondary" onclick="get_followup({{object.id}});">{% trans "see followup" %}</a>
    <a href="{% url 'orgedit' object.id %}" class="btn btn-primary">{% trans "Edit" %}</a>
    
    <div class ="text-right">
        <p>{% trans "regestered by" %} : {{object.creator}}</p>
    </div>
 </div>
</div> 

{% block script %}
<script>
    function get_followup(orgid) {
            var ajax_config = {
                url: "{% url 'showfollowuo' %}",
                data: {
                    "orgid" : orgid 
                },
                method: 'GET',
                success: function (response) {
                    var my_output_div = $('#followup');
                    var table = "";
                    $(response.result).each(function (index, obj) {
                        console.log(obj);
                        var my_table = '<tr><td>' + obj.creator + '</td><td>' + obj.written_on + '</td><td>' + obj.report + '</td></tr>';
                        table = table + my_table;
                    });
                    if (my_output_div.is(':empty')) {
                        final_table = '<h1 class="card-title ">Follow Up</h1><table class="table table-bordered table-striped" ><thead><tr><th>{% trans "user" %}</th><th>{% trans "date" %}</th><th>{% trans "report" %}</th></tr></thead><tbody>' + table + '</tbody></table>';
                        my_output_div.append(final_table);
                    } else {
                        my_output_div.empty();
                        final_table = '<h1 class="card-title ">Follow Up</h1><table class="table table-bordered table-striped" ><thead><tr><th>{% trans "user" %}</th><th>{% trans "date" %}</th><th>{% trans "report" %}</th></tr></thead><tbody>' + table + '</tbody></table>';
                        my_output_div.append(final_table);
                        }
                    }
            }
            $.ajax(ajax_config);
        }
</script>
{% endblock %}
{% endblock body %}